  body {
  	  background-color: #1499ff;
      font: 400 15px Lato, sans-serif;
      line-height: 1.8;
      color: 000000;
  }

  .jumbotron {
     	background-color: #1499ff;
      color: #fff;
      font-family: Montserrat, sans-serif;
  }

